{{ $maxtags := .Site.Params.maxTags | default 50 }}
{{ if .Site.Params.showTagCloud | default true }}
<div class="dn tr fixed right-2" id="tag-cloud">
  categories <br>
  {{- range $name, $items := .Site.Taxonomies.categories }}
  <a class="silver no-underline" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name }}</a></li>
  {{- end }}<br>
    tags <br>
    {{ range first $maxtags .Site.Taxonomies.tags.ByCount }}
    <a class="silver no-underline" href="{{ "tags/" | relLangURL }}{{ .Name | urlize }}">{{ .Name }}</a></li>
  {{ end }}
</div>
{{ end }}